<p id="notice"><%= notice %></p>

<p>
  <strong> title:</strong>
  <%= @page. title %>
</p>

<p>
  <strong>String:</strong>
  <%= @page.string %>
</p>

<p>
  <strong>Description:</strong>
  <%= @page.description %>
</p>

<p>
  <strong>Text:</strong>
  <%= @page.text %>
</p>

<p>
<%= image_tag(@page.picture.url(:thumb), alt: 'Image') if @page.picture? %>
</p>
<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
