<!DOCTYPE html>
<html>
<head>
  <title>ThirdApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Домой", home_index_path %>
|
<%= link_to "Страницы", pages_index_path %>

<%= yield %>

</body>
</html>
